.text-h1,
h1 {
  font-family: var(--cn-font-family);
  font-size: var(--cn-heading-1-font-size);
  font-weight: var(--cn-heading-1-font-weight);
  line-height: var(--cn-heading-1-line-height);
  margin: 0;
  margin-bottom: var(--cn-line);
  color: var(--color-heading-1);
}

.text-h2,
h2 {
  font-family: var(--cn-font-family);
  font-size: var(--cn-heading-2-font-size);
  font-weight: var(--cn-heading-2-font-weight);
  line-height: var(--cn-heading-2-line-height);
  margin: 0;
  margin-bottom: var(--cn-line);
  color: var(--color-heading-1);
}

.text-h3,
h3 {
  font-family: var(--cn-font-family);
  font-size: var(--cn-heading-3-font-size);
  font-weight: var(--cn-heading-3-font-weight);
  line-height: var(--cn-heading-3-line-height);
  letter-spacing: var(--cn-heading-3-letter-spacing);
  margin: 0;
  margin-bottom: var(--cn-line);
  color: var(--color-heading-2);
}

.text-h4,
h4 {
  font-family: var(--cn-font-family);
  font-size: var(--cn-heading-4-font-size);
  font-weight: var(--cn-heading-4-font-weight);
  line-height: var(--cn-heading-4-line-height);
  margin: 0;
  margin-bottom: var(--cn-line);
  color: var(--color-heading-2);
}

.text-h5 /* Note: we are omitting non-atomic h5 intentionally */ {
  font-family: var(--cn-font-family);
  font-size: var(--cn-heading-5-font-size);
  font-weight: var(--cn-heading-5-font-weight);
  line-height: var(--cn-heading-5-line-height);
  margin: 0;
  margin-bottom: var(--cn-line);
  color: var(--color-heading-2);
}

article h1:first-of-type,
article h2:first-of-type,
article h3:first-of-type,
article h4:first-of-type {
  margin-top: 0;
}

@media (max-width: 620px) {
  h1,
  .text-h1 {
    font-size: var(--cn-heading-2-font-size);
    font-weight: var(--cn-heading-2-font-weight);
    line-height: var(--cn-heading-2-line-height);
    font-family: var(--cn-font-family);
  }
  h2,
  .text-h2 {
    font-size: var(--cn-heading-3-font-size);
    font-weight: var(--cn-heading-3-font-weight);
    line-height: var(--cn-heading-3-line-height);
    font-family: var(--cn-font-family);
    letter-spacing: var(--cn-heading-3-letter-spacing);
  }
  h3,
  .text-h3 {
    font-size: var(--cn-heading-4-font-size);
    font-weight: var(--cn-heading-4-font-weight);
    line-height: var(--cn-heading-4-line-height);
    font-family: var(--cn-font-family);
  }
  h4,
  .text-h4 {
    font-size: var(--cn-heading-5-font-size);
    font-weight: var(--cn-heading-5-font-weight);
    line-height: var(--cn-heading-5-line-height);
    font-family: var(--cn-font-family);
  }
  .text-h5 {
    font-size: var(--cn-heading-5-font-size);
    font-weight: var(--cn-heading-5-font-weight);
    line-height: var(--cn-heading-5-line-height);
    font-family: var(--cn-font-family);
  }
}
