.text-h1,
h1 {
  font-family: var(--cn-font-family);
  font-size: var(--cn-font-size-h1);
  font-weight: var(--cn-font-weight-h1);
  line-height: var(--cn-line-height-h1);
  letter-spacing: var(--cn-letter-spacing-h1);
  margin: 0;
  margin-bottom: var(--cn-line);
  color: var(--color-heading-1);
}

.text-h2,
h2 {
  font-family: var(--cn-font-family);
  font-size: var(--cn-font-size-h2);
  font-weight: var(--cn-font-weight-h2);
  line-height: var(--cn-line-height-h2);
  letter-spacing: var(--cn-letter-spacing-h2);
  margin: 0;
  margin-bottom: var(--cn-line);
  color: var(--color-heading-1);
}

.text-h3,
h3 {
  font-family: var(--cn-font-family);
  font-size: var(--cn-font-size-h3);
  font-weight: var(--cn-font-weight-h3);
  line-height: var(--cn-line-height-h3);
  letter-spacing: var(--cn-letter-spacing-h3);
  margin: 0;
  margin-bottom: var(--cn-line);
  color: var(--color-heading-2);
}

.text-h4,
h4 {
  font-family: var(--cn-font-family);
  font-size: var(--cn-font-size-h4);
  font-weight: var(--cn-font-weight-h4);
  line-height: var(--cn-line-height-h4);
  letter-spacing: var(--cn-letter-spacing-h4);
  margin: 0;
  margin-bottom: var(--cn-line);
  color: var(--color-heading-2);
}

.text-h5 /* Note: we are omitting non-atomic h5 intentionally */ {
  font-family: var(--cn-font-family);
  font-size: var(--cn-font-size-h5);
  font-weight: var(--cn-font-weight-h5);
  line-height: var(--cn-line-height-h5);
  letter-spacing: var(--cn-letter-spacing-h5);
  margin: 0;
  margin-bottom: var(--cn-line);
  color: var(--color-heading-2);
}

article h1:first-of-type,
article h2:first-of-type,
article h3:first-of-type,
article h4:first-of-type {
  margin-top: 0;
}

@media (max-width: 620px) {
  h1,
  .text-h1 {
    font-size: var(--cn-font-size-h2);
    font-weight: var(--cn-font-weight-h2);
    line-height: var(--cn-line-height-h2);
    letter-spacing: var(--cn-letter-spacing-h2);
    font-family: var(--cn-font-family);
  }
  h2,
  .text-h2 {
    font-size: var(--cn-font-size-h3);
    font-weight: var(--cn-font-weight-h3);
    line-height: var(--cn-line-height-h3);
    font-family: var(--cn-font-family);
    letter-spacing: var(--cn-letter-spacing-h3);
  }
  h3,
  .text-h3 {
    font-size: var(--cn-font-size-h4);
    font-weight: var(--cn-font-weight-h4);
    line-height: var(--cn-line-height-h4);
    letter-spacing: var(--cn-letter-spacing-h4);
    font-family: var(--cn-font-family);
  }
  h4,
  .text-h4 {
    font-size: var(--cn-font-size-h5);
    font-weight: var(--cn-font-weight-h5);
    line-height: var(--cn-line-height-h5);
    letter-spacing: var(--cn-letter-spacing-h5);
    font-family: var(--cn-font-family);
  }
  .text-h5 {
    font-size: var(--cn-font-size-h5);
    font-weight: var(--cn-font-weight-h5);
    line-height: var(--cn-line-height-h5);
    letter-spacing: var(--cn-letter-spacing-h5);
    font-family: var(--cn-font-family);
  }
}
