---
import { getCollection } from 'astro:content';

export interface Props {
  collection?: 'customElements' | 'application';
}

const { collection = 'customElements' } = Astro.props;
const items = await getCollection(collection);

items.sort((a, b) => {
  const titleA = a.data?.title?.toLowerCase() || '';
  const titleB = b.data?.title?.toLowerCase() || '';
  return titleA.localeCompare(titleB);
});

const collectionSlug =
  collection === 'customElements' ? 'custom-elements' : 'application';
---
<section>
  <h2>{collection === 'customElements' ? 'Custom Elements' : 'Application'}</h2>
  <ul>
    {items.map(item => (
      <li>
        <a href={`/${collectionSlug}/${item.id}`}>
          <cn-icon noun={item.data.noun} small/>
          <span>{item.data.title}</span>
        </a>
      </li>
    ))}
  </ul>
</section>