---
import { getCollection } from 'astro:content';

const books = await getCollection('customElements');
---
<section>
  <h2>Custom Elements</h2>
  <ul>
    {books.map(book => (
      <li>
        <a href={`/custom-elements/${book.id}`}>
          <cn-icon noun={book.data.noun} small/>
          <span>{book.data.title}</span>
        </a>
      </li>
    ))}
  </ul>
</section>