---
import 'cyan-css';
---

<footer>
  <div class="content-columns">
    <section class="column-s flex flex-col items-center">
      <cn-icon noun="design" xlarge style="color:var(--color-heading-1)"></cn-icon>
      <p class="text-caption text-center m-0">
        Cyan Design System 4
      </p>
  </section>
  </div>
</footer>
