<nav class="rail">

      <a href="/"><cn-navigation-icon noun="fox"></cn-navigation-icon></a>

      <a href="/application"><cn-navigation-icon noun="layout" label="Layout"></cn-navigation-icon></a>

      <a href="/styles"><cn-navigation-icon noun="palette" label="Styles"></cn-navigation-icon></a>

      <a href="/custom-elements">
        <cn-navigation-icon noun="books" label="Elements"></cn-navigation-icon></a>

</nav>