<div class="content-sheet-demo">
  <div class="stat-block">
    <label>
      <span>Strength</span>
      <input type="number" class="stat" value="15" readonly />
    </label>
    <label>
      <span>Dexterity</span>
      <input type="number" class="stat" value="12" readonly />
    </label>
    <label>
      <span>Constitution</span>
      <input type="number" class="stat" value="14" readonly />
    </label>
    <label>
      <span>Intelligence</span>
      <input type="number" class="stat" value="10" readonly />
    </label>
    <label>
      <span>Wisdom</span>
      <input type="number" class="stat" value="13" readonly />
    </label>
    <label>
      <span>Charisma</span>
      <input type="number" class="stat" value="16" readonly />
    </label>
  </div>
</div>

<style>
  .content-sheet-demo .stat-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 200px;
  }
</style>