<div class="fab-demo">
  <!-- Standard FABs -->
  <div>
    <label>Standard FABs</label>
    <div class="flex flex-wrap">
      <button class="fab" aria-label="Create">
        <cn-icon noun="add" />
      </button>
      <button class="fab secondary" aria-label="Edit">
        <cn-icon noun="edit" />
      </button>
      <button class="fab cta" aria-label="Edit">
        <cn-icon noun="send" />
      </button>
      <button class="fab" disabled aria-label="Disabled">
        <cn-icon noun="add" />
      </button>
    </div>
  </div>


    <label class="mt-1">Small FABs</label>
    <div class="flex flex-wrap">
      <button class="fab small" aria-label="Save">
        <cn-icon noun="save" />
      </button>
      <button class="fab small secondary" aria-label="Delete">
        <cn-icon noun="delete" />
      </button>
      <button class="fab small" disabled aria-label="Disabled small">
        <cn-icon noun="add" />
      </button>
    </div>


  <!-- Anchor FABs -->

    <label class="mt-1">Anchor FABs</label>
    <div class="flex flex-wrap">
      <a href="/create" class="button fab" aria-label="Create link">
        <cn-icon noun="add" />
      </a>
      <a href="/edit" class="button fab secondary" aria-label="Edit link">
        <cn-icon noun="edit" />
      </a>
      <a href="/save" class="button fab small" aria-label="Save link">
        <cn-icon noun="save" />
      </a>
    </div>


  <!-- Accessible labeled FAB -->

    <label class="mt-1">With accessible label</label>
    <div>
      <button class="fab">
        <cn-icon noun="add" />
        <span class="visually-hidden">Create new item</span>
      </button>
    </div>

</div>
