---
// SelectDemo.astro - Demo component for select element
---

<label>
  Text
  <select>
    <option value="">Choose an option...</option>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
</label>

<label>
  Disabled
  <select disabled>
    <option>Disabled</option>
  </select>
</label>

<label>
  Invalid
  <select required>
    <option value="">Please select an option</option>
    <option>Option 1</option>
    <option>Option 2</option>
  </select>
</label>
