cn-lightbox {
  --cn-lightbox-background: var(--color-surface-2);
  --cn-lightbox-color: var(--color-on-surface);
  --cn-lightbox-border-radius: var(--cn-border-radius-medium);
  --cn-lightbox-image-border-radius: var(--cn-border-radius-small);
  --cn-lightbox-inner-spacing: var(--cn-grid);
  --cn-lightbox-scrollbar-color: var(--color-secondary);
}
