/*
 * CSS Variables (Design Tokens) for the Cyan Story Clock.
 *
 * We provide a set of sensible defaults, and overrides for apps using the Cyan Design System.
 * 
 * When using the elements as a standalone component, you can modify these variables to make the
 * component fit your brand and Design System.
 */
body {
  /* Cyan Design System integrations */
  --cn-story-clock-border-color: var(--color-border);
  --cn-story-clock-border-width: var(--cn-border-width);
  --cn-story-clock-tick-color: var(--color-text);
  --cn-story-clock-slice-color: var(--color-surface-1);
}
