---
import Installation from '@content/installation.md';
import Intro from '@content/intro.mdx';
import Page from '@layouts/Page.astro';

// Import only the version field from package.json
import { version } from '../../../../package.json';
---
<Page>
  <div class="content-columns">
    <article class="intro column-l surface">
      <Intro />
    </article>
    <article class="surface">
      <Installation />
    </article>
  
  
  </div>  
</Page>
