nav#bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100dvw;
  display: flex;
  margin: 0;
  padding: calc(var(--cn-grid) / 2) var(--cn-gap);
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  height: calc(9 * var(--cn-grid));
  background: var(--background-mobile-nav-bar);
  z-index: var(--z-index-bar);
}
body:has(#fab-tray) nav#bar {
  clip-path: polygon(
    0 0,
    calc(100% - 76px) 0,
    calc(100% - 64px) 8px,
    calc(100% - 24px) 8px,
    calc(100% - 12px) 0,
    100% 0,
    100% 100%,
    0 100%
  );
}
@media screen and (min-width: 621px) {
  nav#bar {
    display: none;
  }
}
