figure {
  padding: var(--cn-grid);
  margin: 0;
  background-color: var(--color-surface);
  border-radius: var(--cn-border-radius-small);
}
figcaption {
  text-align: center;
  font-size: var(--cn-font-size-caption);
  line-height: var(--cn-line-height-caption);
  letter-spacing: var(--cn-letter-spacing-caption);
  color: var(--color-text-low);
  padding: calc(var(--cn-grid) * 0.5) 0;
}
