input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"] {
  font-family: var(--cn-font-family-ui);
  font-weight: var(--cn-font-weight-ui);
  font-size: var(--cn-font-size-ui);
  line-height: var(--cn-line-height-ui);
  letter-spacing: var(--cn-letter-spacing-ui);
  color: var(--color-on-input);
  background: var(--color-input);
  border: 0;
  border-bottom: var(--cn-input-border);
  border-radius: var(--cn-input-border-radius);
  display: block;
  width: 100%;
  position: relative;
  transition: all 0.3s ease;
  margin: 0;
  padding: var(--cn-grid);
  height: calc(var(--cn-grid) * 5);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="url"]::placeholder {
  color: var(--color-on-field-placeholder, red);
  font-style: italic;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover {
  color: var(--color-on-field-hover, var(--color-on-field));
  background: var(--color-field-hover, var(--color-field));
  border-bottom-color: var(--color-border-hover, var(--color-border));
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus {
  outline: none;
  color: var(--cn-color-on-field-active);
  background: var(--color-input-focus);
  border-bottom-color: var(--color-border-hover, var(--color-border));
}

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="number"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="search"]:focus::placeholder,
input[type="tel"]:focus::placeholder,
input[type="url"]:focus::placeholder {
  opacity: 0;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled {
  opacity: 0.5;
  background: var(--cn-color-disabled);
}

input[data-error="true"] {
  background: var(--color-alert);
  border-bottom: 1px solid var(--color-on-alert);
  color: var(--color-on-alert);
  box-shadow: none;
}

input[data-error="true"]::placeholder {
  color: var(--color-on-alert);
}

input[data-error="true"]:focus {
  background: var(--color-alert);
  border-bottom: 1px solid var(--color-on-alert);
  color: var(--color-on-alert);
}
