label {
  font-family: var(--cn-font-family);
  font-weight: var(--cn-font-weight);
  font-size: var(--cn-font-size-caption);
  line-height: var(--cn-line-height-caption);
  letter-spacing: var(--cn-letter-spacing-caption);
  color: var(--color-on-label);
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}

label:has(input),
label:has(select) {
  background-color: transparent;
}

/* Allow labels with selects to size naturally */
label:has(select) {
  width: auto;
  flex-grow: 0;
}

label select {
  min-width: auto;
  width: 100%;
}

label p {
  margin: 0;
  padding: 0;
  display: block;
}
