/* Navigation component styles */

/* Navigation icon styles */
/* Host context interop - remove text decoration from links containing navigation icons */
a:has(cn-navigation-icon) {
  text-decoration: none;
}

cn-navigation-icon {
  --cn-navigation-icon-backdrop-color: transparent;
}

cn-navigation-icon:active,
cn-navigation-icon[active] {
  --cn-navigation-icon-backdrop-color: var(--color-elevation-1);
}

cn-navigation-icon:hover {
  --cn-navigation-icon-backdrop-color: var(--color-elevation-2);
}

/* Tray button styles */
cn-tray-button {
  position: fixed;
  top: calc(var(--cn-grid));
  left: calc(var(--cn-grid) * 1.5);
  z-index: var(--z-index-tray-button, 3000);
}
