/* Navigation component styles */

/* Navigation icon styles */
/* Host context interop - remove text decoration from links containing navigation icons */
a:has(cn-navigation-icon) {
  text-decoration: none;
}

/* Tray button styles */
cn-tray-button {
  position: fixed;
  top: calc(var(--cn-grid));
  left: calc(var(--cn-grid) * 1.5);
  z-index: var(--z-index-tray-button, 3000);
}

@media screen and (max-width: 620px) {
  cn-tray-button {
    position: fixed;
    top: calc(var(--cn-grid));
    left: auto;
    right: calc(var(--cn-grid) * 1.5);
    z-index: var(--z-index-tray-button, 3000);
  }
  body:has(cn-tray-button) cn-app-bar {
    margin-right: calc(var(--cn-width-rail) - var(--cn-gap));
  }
}
