/* Inspired by https://github.com/sindresorhus/modern-normalize/blob/main/modern-normalize.css */

/* Use a better box model (opinionated). */
*,
::before,
::after {
  box-sizing: border-box;
}

/*
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
}

*[popover] {
  border: none;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: dark light;
}

/* Global scrollbar styling */

/* Standard property (Firefox) */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
}

/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: var(--cn-scrollbar-width);
  height: var(--cn-scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
  border-radius: var(--cn-scrollbar-border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: var(--cn-scrollbar-border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover);
}

::-webkit-scrollbar-corner {
  background: var(--color-scrollbar-track);
}
