nav.rail {
  position: fixed;
  bottom: 0;
  left: 0;
  height: var(--cn-height-rail);
  width: 100dvw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: color-mix(in hsl, var(--color-background), transparent 11%);
  padding-top: calc(var(--cn-grid) / 2);
  z-index: var(--z-index-rail, 2000);
  box-shadow: 0 0 var(--cn-line) var(--color-shadow);
}

/*
nav#bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100dvw;
  display: flex;
  margin: 0;
  padding: calc(var(--cn-grid) / 2) var(--cn-gap);
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  height: calc(9 * var(--cn-grid));
  background: var(--background-mobile-nav-bar);
  z-index: var(--z-index-bar);
}
body:has(#fab-tray) nav#bar {
  clip-path: polygon(
    0 0,
    calc(100% - 76px) 0,
    calc(100% - 64px) 8px,
    calc(100% - 24px) 8px,
    calc(100% - 12px) 0,
    100% 0,
    100% 100%,
    0 100%
  );
}
@media screen and (min-width: 621px) {
  nav#bar {
    display: none;
  }
}

 */

body:has(nav.rail) cn-app-bar {
  /* Add margin to the app bar to make space for the rail */
  margin-left: calc(var(--cn-margin-for-rail) - var(--cn-gap));
}

/* The rail is hidden on small screens, if the screen is wider than
   621px, the rail is displayed as a *fixed* column on the left */
@media (min-width: 621px) {
  :root {
    /* The rail is displayed as a fixed column on the left */
    --cn-margin-for-rail: var(--cn-width-rail);
  }

  nav.rail {
    background: none;
    display: flex;
    justify-content: flex-start;
    box-shadow: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--cn-width-rail);
    height: 100dvh;
    gap: var(--cn-gap, 16px);
    align-items: center;
    padding-bottom: var(--cn-gap, 16px); /* Add extra "gap" at the bottom to make sure the last item is not cut off */
    padding-top: var(--cn-padding-top-rail, 8px);
  }

  body:has(cn-tray-button) nav.rail {
    /* Make space for the tray button */
    padding-top: calc(var(--cn-grid) * 10);
  }

  body:has(nav.rail) main {
    /* Add margin to the main content area to make space for the rail */
    margin-left: var(--cn-margin-for-rail);
  }
}
