textarea {
  font-family: var(--cn-font-family-ui);
  font-weight: var(--cn-font-weight-ui);
  font-size: var(--cn-font-size-ui);
  line-height: var(--cn-line-height-ui);
  letter-spacing: var(--cn-letter-spacing-ui);
  color: var(--color-on-input);
  background: var(--color-input);
  border: 0;
  border-bottom: 1px solid var(--color-border);
  border-radius: 0 var(--cn-border-radius-medium) 0 0;
  display: block;
  width: 100%;
  position: relative;
  transition: all 0.3s ease;
  margin: 0;
  padding: var(--cn-grid);
  min-height: calc(var(--cn-grid) * 5 - 1px);
}
textarea::placeholder {
  color: var(--color-on-field-placeholder, red);
  font-style: italic;
}

textarea:hover {
  color: var(--color-on-field-hover, var(--color-on-field));
  background: var(--color-field-hover, var(--color-field));
  border-bottom: 1px solid var(--color-border-hover, var(--color-border));
}

textarea:focus {
  outline: none;
  color: var(--cn-color-on-field-active);
  background: var(--color-input-focus);
  border-bottom: 1px solid var(--color-border-hover, var(--color-border));
}

textarea:focus::placeholder {
  opacity: 0;
}

textarea:disabled {
  opacity: 0.5;
  background: var(--color-input-disabled);
}

textarea[data-error="true"] {
  background: var(--color-alert);
  border-bottom: 1px solid var(--color-on-alert);
  color: var(--color-on-alert);
  box-shadow: none;
}

textarea[data-error="true"]::placeholder {
  color: var(--color-on-alert);
}

textarea[data-error="true"]:focus {
  background: var(--color-alert);
  border-bottom: 1px solid var(--color-on-alert);
  color: var(--color-on-alert);
}
