nav#tray {
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--z-index-tray, 3000);
  width: calc(100dvw - var(--cn-gap));
  padding: var(--cn-gap);
  height: 100dvh;
  overflow-y: scroll;
  background-color: var(--color-elevation-1);
  box-shadow: var(--color-shadow) 0px 0px var(--cn-line);
  transition: transform 0.11s ease-in-out;
}
body:has(cn-tray-button[aria-expanded="false"]) nav#tray {
  transform: translateX(100%);
}
nav#tray h1,
nav#tray h2,
nav#tray h3,
nav#tray h4 {
  margin: 0;
  padding: 0;
  font-size: var(--cn-heading-4-font-size);
  line-height: var(--cn-heading-4-line-height);
  margin-bottom: var(--cn-grid);
  border-bottom: 1px solid var(--color-border);
}
@media screen and (min-width: 621px) {
  nav#tray {
    right: auto;
    top: var(--cn-app-bar-height);
    left: calc(var(--cn-width-tray) * -1);
    width: var(--cn-width-tray);
    height: calc(100dvh - var(--cn-app-bar-height));
    padding-left: var(--cn-width-rail);
    box-shadow: none;
    transform: translateX(100%);
    background: var(--color-elevation-1);
    border-radius: 0 var(--cn-border-radius-medium) 0 0;
  }
  body:has(cn-tray-button[aria-expanded="false"]) nav#tray {
    transform: translateX(0);
  }
  body:has(cn-tray-button[aria-expanded="true"]) main {
    padding-left: calc(
      var(--cn-width-tray) +
      var(--cn-gap) +
      var(--cn-width-rail)
    );
  }
}
nav#tray li a {
  display: flex;
  align-items: center;
  font-size: var(--cn-text-font-size);
  line-height: var(--cn-text-line-height);
  height: calc(var(--cn-line) * 2);
  gap: var(--cn-gap);
  text-decoration: none;
  padding: 0 var(--cn-grid);
  transition: background 0.2s ease-in-out;
}
nav#tray li a:hover {
  background: var(--color-hover);
}
