/* Card component tokens */
:root {
  /* Card border radius */
  --cn-border-radius-card: var(--cn-border-radius-large, 16px);
}

cn-card > *:first-child {
  margin-top: 0;
}

cn-card > *:last-child {
  margin-bottom: 0;
}
