:root {
  /* isolate */
  --shadow-elevation-1:
    0 0 calc(var(--cn-grid) * 1) 0
    color-mix(in hsl, var(--color-shadow), transparent 44%), /* drop */
    calc(var(--cn-grid) * 0.5) calc(var(--cn-grid) * 0.5)
    calc(var(--cn-grid) * 2) calc(var(--cn-grid) * -1) var(--color-shadow);

  /* isolate */
  --shadow-elevation-2:
    0 0 calc(var(--cn-grid) * 1) 0
    color-mix(in hsl, var(--color-shadow), transparent 44%), /* drop */
    calc(var(--cn-grid) * 1) calc(var(--cn-grid) * 1) calc(var(--cn-grid) * 3)
    calc(var(--cn-grid) * -1) var(--color-shadow);

  /* isolate */
  --shadow-elevation-3:
    0 0 calc(var(--cn-grid) * 1.5) 0
    color-mix(in hsl, var(--color-shadow), transparent 44%), /* drop */
    calc(var(--cn-grid) * 1) calc(var(--cn-grid) * 1) calc(var(--cn-grid) * 5)
    calc(var(--cn-grid) * -1) var(--color-shadow);

  /* isolate */
  --shadow-elevation-4:
    0 0 calc(var(--cn-grid) * 1.5) 0
    color-mix(in hsl, var(--color-shadow), transparent 44%), /* drop */
    calc(var(--cn-grid) * 1.5) calc(var(--cn-grid) * 1.5)
    calc(var(--cn-grid) * 5) calc(var(--cn-grid) * -1) var(--color-shadow);
}
