/*
 * Base units, used for spacing and sizing.
 *
 * Prefixed with `cn-` to avoid conflicts with other libraries.
 */
:root {
  /* root units */
  --cn-grid: 0.5rem;
  --cn-gap: calc(var(--cn-grid) * 2);
  --cn-line: calc(var(--cn-grid) * 3);

  /* Border radius tokens */
  --cn-border-radius-small: calc(var(--cn-grid) * 1); /* 4px */
  --cn-border-radius-medium: calc(var(--cn-grid) * 2); /* 8px */
  --cn-border-radius-large: calc(var(--cn-grid) * 4); /* 16px */
  --cn-border-radius-xl: calc(var(--cn-grid) * 6); /* 24px */

  /* Icon size tokens */
  --cn-icon-size-xsmall: 1rem; /* 16px */
  --cn-icon-size-small: calc(24 / 16 * 1rem); /* 24px */
  --cn-icon-size: calc(36 / 16 * 1rem); /* 36px */
  --cn-icon-size-large: calc(72 / 16 * 1rem); /* 72px */
  --cn-icon-size-xlarge: calc(128 / 16 * 1rem); /* 128px */

  /* Navigation icon tokens */
  --cn-navigation-icon-label-height: calc(var(--cn-grid) * 2); /* 16px */

  --cn-width-rail: calc(var(--cn-grid) * 10); /* 80px */
}
