/*
 * Base units, used for spacing and sizing.
 *
 * Prefixed with `cn-` to avoid conflicts with other libraries.
 */
:root {
  /* root units */
  --cn-grid: 0.5rem;
  --cn-gap: calc(var(--cn-grid) * 2);
  --cn-line: calc(var(--cn-grid) * 3);

  /* Border radius tokens */
  --cn-border-radius-small: calc(var(--cn-grid) * 1); /* 4px */
  --cn-border-radius-medium: calc(var(--cn-grid) * 2); /* 8px */
  --cn-border-radius-large: calc(var(--cn-grid) * 4); /* 16px */
  --cn-border-radius-xl: calc(var(--cn-grid) * 6); /* 24px */
}
