.border {
  border: var(--color-border) solid 1px;
}

.border-t {
  border-top: var(--color-border) solid 1px;
}

.border-r {
  border-right: var(--color-border) solid 1px;
}

.border-b {
  border-bottom: var(--color-border) solid 1px;
}

.border-l {
  border-left: var(--color-border) solid 1px;
}
.border-between:not(:first-child) {
  border-top: var(--color-border) solid 1px;
}
