@media (max-width: 620px) {
  .sm-hidden {
    display: none;
  }
  /* not visible outside of md breakpoints */
  .md-only {
    display: none;
  }
  .lg-only {
    display: none;
  }
}

/* md and lg atomics (design system breakpoints)
   sm <= 620px < md <= 1364px < lg */
@media (min-width: 621px) and (max-width: 1364px) {
  .md-hidden {
    display: none;
  }
  .sm-only {
    display: none;
  }
  .lg-only {
    display: none;
  }
}

@media (min-width: 1365px) {
  .lg-hidden {
    display: none;
  }
  .sm-only {
    display: none;
  }
  .md-only {
    display: none;
  }
}

/* wide screen utilities */
@media screen and (min-width: 1380px) {
  .wide-flex-col {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

/* screen reader only */
.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
