.secondary {
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
  --color-heading-1: light-dark(
    var(--chroma-primary-80),
    var(--chroma-primary-30)
  );
  --color-heading-2: light-dark(
    var(--chroma-primary-70),
    var(--chroma-primary-20)
  );
}
