/* Padding shorthands */
.p-1 {
  padding: var(--cn-grid);
}
.p-2 {
  padding: calc(var(--cn-grid) * 2);
}
.px-1 {
  padding-left: var(--cn-grid);
  padding-right: var(--cn-grid);
}
.px-2 {
  padding-left: calc(var(--cn-grid) * 2);
  padding-right: calc(var(--cn-grid) * 2);
}
.py-1 {
  padding-top: var(--cn-grid);
  padding-bottom: var(--cn-grid);
}
.py-2 {
  padding-top: calc(var(--cn-grid) * 2);
  padding-bottom: calc(var(--cn-grid) * 2);
}
.pt-1 {
  padding-top: var(--cn-grid);
}
.pt-2 {
  padding-top: calc(var(--cn-grid) * 2);
}
.pl-1 {
  padding-left: var(--cn-grid);
}
.pl-2 {
  padding-left: calc(var(--cn-grid) * 2);
}
.pr-1 {
  padding-right: var(--cn-grid);
}
.pr-2 {
  padding-right: calc(var(--cn-grid) * 2);
}
.pb-1 {
  padding-bottom: var(--cn-grid);
}
.pb-2 {
  padding-bottom: calc(var(--cn-grid) * 2);
}

/* Margin shorthands */
.m-1 {
  margin: var(--cn-grid);
}
.m-2 {
  margin: calc(var(--cn-grid) * 2);
}
.mx-1 {
  margin-left: var(--cn-grid);
  margin-right: var(--cn-grid);
}
.mx-2 {
  margin-left: calc(var(--cn-grid) * 2);
  margin-right: calc(var(--cn-grid) * 2);
}
.my-1 {
  margin-top: var(--cn-grid);
  margin-bottom: var(--cn-grid);
}
.my-2 {
  margin-top: calc(var(--cn-grid) * 2);
  margin-bottom: calc(var(--cn-grid) * 2);
}
.mt-1 {
  margin-top: var(--cn-grid);
}
.mt-2 {
  margin-top: calc(var(--cn-grid) * 2);
}
.ml-1 {
  margin-left: var(--cn-grid);
}
.ml-2 {
  margin-left: calc(var(--cn-grid) * 2);
}
.mr-1 {
  margin-right: var(--cn-grid);
}
.mr-2 {
  margin-right: calc(var(--cn-grid) * 2);
}
.mb-1 {
  margin-bottom: var(--cn-grid);
}
.mb-2 {
  margin-bottom: calc(var(--cn-grid) * 2);
}

/* Full width and height atomics */
.full-w {
  width: 100cqw;
}
.full-h {
  height: 100cqh;
}
