/* Breadcrumb navigation utility */
ol.breadcrumbs {
  display: flex;
  gap: var(--cn-grid);
  margin: 0;
  list-style: none;
}

ol.breadcrumbs li {
  margin: 0;
  padding: 0;
}

ol.breadcrumbs li + li::before {
  content: "››";
  color: var(--color-text-low);
  padding-right: var(--cn-grid);
}
