.content-cards {
  display: flex;
  flex-direction: column;
  gap: var(--cn-gap);
  padding: 0 var(--cn-gap);
  position: relative;
  width: 100%;
  margin-bottom: var(--cn-gap);
}
.content-cards cn-card {
  width: 100%;
  flex-grow: 1;
}

.content-cards .full-width {
  width: 100%;
}

.content-cards header {
  padding-bottom: var(--cn-grid);
  border-bottom: solid 1px var(--color-border);
}
.content-cards footer {
  padding-top: var(--cn-grid);
  border-top: solid 1px var(--color-border);
}
.content-cards header > .toolbar:last-child {
  margin-bottom: calc(-1 * var(--cn-grid));
  padding: calc(0.5 * var(--cn-grid)) var(--cn-grid);
}

/* Medium screens $breakpoint-medium: 960px*/
@container main-app-content (width > 720px) {
  .content-cards {
    --cn-card-width: calc(36 * var(--cn-grid));
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--cn-gap);
    width: min(calc(var(--cn-card-width) * 3 + var(--cn-gap) * 2), 100%);
    margin: 0 auto;
  }
  .content-cards header,
  .content-cards footer {
    grid-column: 1 / -1;
  }

  header section.filter-panel {
    width: min(calc(var(--cn-card-width) * 3 + var(--cn-gap) * 2), 100%);
  }
}
