/* A set of helper utilities */

.no-text-wrap {
  word-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-none li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* FIX: Patch for heading icons */
h3 cn-icon,
h3 .icon {
  vertical-align: middle;
}

/* FIX: Patch italic text in headings, font size is erroneously set for inline elements */
main em,
main i {
  font-size: inherit;
}
