.surface {
  background: var(--color-surface);
  color: var(--color-on-surface);
  padding: var(--cn-gap);
  container: surface-area / inline-size;
}
@media screen and (max-width: 620px) {
  .surface {
    padding: var(--cn-grid);
  }
}
